

:root {
    --color-font1: #fff;
    --color-font2: #7C5EF1;
    --bg-color: #EBE4E4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--color-font2);
    align-items: center;
}

.logo-site img {
    width: 80px;
    height: 80px;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.icone-header {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    color: var(--color-font1);
    text-decoration: none;
    text-transform: uppercase;
}

.icone-header-img {
    width: 40px;
    height: 40px;
}

.slide-show {
    width: 100%;
    height: 100vh;
}

.imagem {
    width: 100%;
    height: 100%;
}

.paragrafo {
    color: var(--color-font1);
    text-align: justify;
    font-size: 2.7rem;
}

.texto-sobre {
    background: var(--color-font2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;;
    margin: 10px;
}

.cards-sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    min-height: 100vh;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 400px;
    height: 600px;
    background: var(--color-font2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card .titulo {
    color: var(--color-font1);
    z-index: 2;
}

.card:hover {
    transform: scale(1.05);
}

.hidden-left {
    opacity: 0;
    transition: 1s all;
    transform: translateX(-100%);
}

.active-left {
    opacity: 1;
    transition: 1s all;
    transform: translateX(0);
}


.card-info .paragrafo {
    text-align: start;
    margin-left: 50px;
    font-size: 2.5rem;
}

.hidden {
    display: none;
}

.show {
    display: block;
}