

:root {
    --color-font1: #fff;
    --color-font2: #2f80ed;
    --color-font3: #333333;
    --color-font4: rgba(47, 128, 237, 0.6);
    --bg-color: #ECF4FA;
    --gradient: linear-gradient(to top, rgba(60, 20, 35, 0.6), rgba(60, 20, 35, 0.3));
    --texto-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: var(--texto-font);
    background: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: var(--color-font2);
    align-items: center;
}

.logo-site img {
    width: 80px;
    height: 80px;
}

header nav ul {
    display: flex;
    gap: 80px;
    list-style: none;
}

.icone-header {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    color: var(--color-font1);
    text-decoration: none;
    text-transform: uppercase;
}

.icone-header-img {
    width: 40px;
    height: 40px;
}

.slide-show {
    width: 100%;
    height: 100vh;
}

.imagem {
    width: 100%;
    height: 100%;
}

.paragrafo {
    color: var(--color-font1);
    text-align: justify;
    font-size: 2rem;
}

.texto-sobre {
    background: var(--color-font2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;;
    margin: 10px;
}

.cards-sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    min-height: 100vh;
    margin-bottom: 20px;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}



.card {
    width: 425px;
    height: 600px;
    background: var(--color-font2);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.card .titulo {
    color: var(--color-font1);
    font-size: 2rem;
}

.card:hover {
    transform: scale(1.05);
    transition: .3s;
}

.hidden-left {
    opacity: 0;
    transition: 1s all;
    transform: translateX(-100%);
}

.active-left {
    opacity: 1;
    transition: 1s all;
    transform: translateX(0);
}


.card-info .paragrafo {
    text-align: start;
    margin-left: 50px;
    font-size: 2.5rem;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.show-flex {
    display: flex;
}

#pagina-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: var(--gradient), url(../assets/Background-quiz.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#pagina-quiz .titulo {
    color: var(--color-font1);
}


#secao-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#secao-inicial.hidden {
    display: none;
}

#secao-quiz {
    flex-direction: column;
    width: 800px;
    min-height: 300px;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background: var(--color-font4);
    position: relative;
}

#secao-quiz.hidden {
    display: none;
}

#secao-quiz .titulo, #secao-quiz .paragrafo {
    font-size: 2rem;
}

#form-quiz {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 50px;
}

#form-quiz.hidden {
    display: none;
}

#form-quiz .titulo {
    width: 80%;
}


#campo-alternativas {
    display: flex;
    gap: 30px;
}

#alternativa-1, #alternativa-2 {
    display: flex;
    gap: 10px;
    width: 50%;
    align-items: flex-start;
}

#alternativa-1 .paragrafo, #alternativa-2 .paragrafo {
    font-size: 2rem;
    text-align: start;
}

.alternativas {
    appearance: none;
    padding: 10px;
    border: 2px solid var(--color-font3);
    background: #ccc;
    cursor: pointer;
    height: 10px;
    margin-top: 5px;
}

.alternativas:checked {
    background: #27AE60;
}

#count-pergunta {
    position: absolute;
    top: 10px;
    left: 5px;
}

#campo-proximo {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    margin-top: 20px;
}

#campo-proximo.hidden {
    display: none;

}

#feedback .titulo {
    margin-bottom: 20px;
}

#secao-resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 500px;
}

#secao-resultado.hidden {
    display: none;
}

#secao-resultado .paragrafo {
    width: 100%;
    text-align: center;
}

.btn {
    width: 400px;
    height: 100px;
    border-radius: 100px;
    background: var(--color-font2);
    color: var(--color-font1);
    font-size: 2rem;
    box-shadow: 0px 3px 0px 0px var(--color-font1);
    cursor: pointer;
}

.btn:hover {
    background: var(--color-font1);
    color: var(--color-font2);
    box-shadow: 0px 3px 0px 0px var(--color-font2);
}

#pagina-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secao-mapa {
    display: flex;
    gap: 20px;
}

.mapa-container {
    width: 70%;
    height: 500px;
}

#mapa {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#informacoes {
    background: var(--color-font3);
    border-radius: 20px;
    width: 30%;
    height: 500px;
    color: var(--color-font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pesquisa-CEP {
    border: none;
    background: var(--color-font1);
    color: #000;
    box-shadow: 0px 3px 0px 0px var(--color-font2);
    padding: 5px 10px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
}

#campo-pesquisa-CEP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#campo-pesquisa-CEP .btn {
    width: 30%;
    height: 50px;
    border-radius: 5px;
}

#secao-ajuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#form-ajuda {
    width: 500px;
    height: 100%;
    background: var(--color-font2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#form-ajuda label {
    color: var(--color-font1);
}

#form-ajuda input, textarea {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
    font-family: var(--texto-font);
}

#form-ajuda textarea {
    height: 300px;
}

#btn-enviar {
    border-radius: 5px;
    text-transform: uppercase;
    height: 75px;
}

footer {
    background: var(--color-font2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

footer #rodape {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer #rodape .icone {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

footer #rodape #icones-contato, #icones-redes {
    display: flex;
    justify-content: center;
    gap: 5px;
}

footer #rodape #rodape-contato, #rodape-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #rodape #rodape-contato .paragrafo, #rodape-redes .paragrafo{
    font-size: 1.7rem;
}

footer #direitos .paragrafo {
    font-size: 1.7rem;
}